@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: "Outfit";
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

.button1 {
  @apply bg-fuchsia-950 text-fuchsia-200 mt-8 px-8 py-3 text-sm active:bg-fuchsia-900 cursor-pointer rounded-xl hover:scale-105 transition ease-in-out;
}

.button2 {
  @apply font-medium bg-fuchsia-200 text-fuchsia-950 mt-8 px-8 py-3 text-sm hover:bg-fuchsia-300 active:bg-fuchsia-400 cursor-pointer rounded-2xl hover:scale-105 transition ease-in-out shadow-md;
}

.custom-border {
  @apply w-full sm:w-[450px] border p-6 rounded-3xl border-[#C586A5] shadow-md shadow-[#dd9fbe79];
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
